[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=REDIS_HOST={{ lookup('hashi_vault', 'roboshop-{{ env }}/data/cart:MONGO token={{ vault_token }} url=http://vault-internal.devops11.online:8200')}}
Environment=CATALOGUE_HOST={{ lookup('hashi_vault', 'roboshop-{{ env }}/data/cart:MONGO token={{ vault_token }} url=http://vault-internal.devops11.online:8200')}}
Environment=CATALOGUE_PORT={{ lookup('hashi_vault', 'roboshop-{{ env }}/data/cart:MONGO token={{ vault_token }} url=http://vault-internal.devops11.online:8200')}}
ExecStart=/bin/node /app/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target